body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.app-container {

    display: flex;
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.sidebar {
    width: 150px;
    background: #333;
    color: white;
    padding: 20px;
}

.category-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #555; 
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

.category-button.selected {
    background: #222;
}

.category-button:hover {
    background: #444;
}

.quiz-container {
    position: relative;
    flex: 1;
    padding: 30px;
    text-align: center;
}

.timer-container{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    display: flex;
}


.totalscore {
    font-weight: bold;
    margin-bottom: 15px;
}

#answer-buttons {
    margin-top: 20px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #222;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    text-align: left;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.correct {
    background: #9aeabc !important;
}

.incorrect {
    background: #ff9393 !important;
}


.progress-bar {
    position: relative;
    width: 60%;
    height: 2.3em;
    background-color: #e1f6c1;
    border: 3px solid rgb(226, 122, 218);
    border-radius: 3em;
    margin: 20px auto 35px auto;
}

.progress-bar::before {
    content: attr(data-label);
    background-color: rgb(180, 50, 152);
    position: absolute;
    left: 0.15em;
    top: 0.6em;
    bottom: 0.15em;
    width: calc(var(--width, 0) * 1%);
    max-width: 100%;
    border-radius: 2em;
    display: flex;
}


@media (max-width: 600px) {
    .app-container {
        flex-direction: column;
        margin-top: 20px;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    .category-button {
        text-align: center;
    }

    .progress-bar {
        width: 80%;
    }
}
