.timer-container {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    height: 450px;
}


.timer-container {
    font-weight: bold;
    margin-bottom: 10px;
}


.totalscore {
    font-weight: bold;
    margin-bottom: 20px;
}


.btn {
    background: #fff;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover:not([
  disabled]) {
    background: #df5f5f;
    color: #040000;
}

.correct {
    background: #9aeabc !important;
}

.incorrect {
    background: #ff9393 !important;
    border-color: #ff9393;
}
@media (max-width: 600px) {
    .app-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    .category-button {
        text-align: center;
    }
}
    .Next-btn {
    background-color: rgb(228, 99, 228); 
    color: white;                        
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;      
    width: fit-content;  
    margin:  auto;      
    padding: 8px 16px;
}
.Next-btn:hover {
  background-color: rgb(200, 80, 200); 
}

.progress-bar{
  position: relative;
    width: 60%;
    height: 2.5em;
    background-color: #e1f6c1;
    border: 3px solid rgb(226, 122, 218);
    border-radius: 3em;
    margin: 40px auto;
}
.progress-bar::before{
content : attr(data-label);
background-color: rgb(110, 255, 110);
align-items: center;
position: absolute;
left:0.1em;
right:0.1em;
top: 0.1em;
bottom: 0.1em;
width : calc(var(--wid, 0) * 1%);
min-width: calc(var(--wid, 0) * 1%);
max-width: 100%;
border-radius: 15px;
padding: 1px 0px;
}