*, *::before, *::after {
  box-sizing: border-box;
}
.body{
margin:0%;
}

.timer-container {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #ece4e4;
  border-bottom: 1px solid #ddd;
}
.signup-btn {
  background-color: rgb(228, 99, 228); 
  color: white;                        
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.signup-btn:hover {
  background-color: rgb(200, 80, 200); 
}
.logo {
  color: rgb(228, 99, 228);     
  font-weight: 600;
  font-size: 1.5rem;
}
.logo:hover {
  color: rgb(200, 80, 200); 
  cursor: pointer;
}
.app {
    background: #f5c6ea;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    border-radius: 10px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    height: 450px;
}

.btn {
    background: #fff;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}


.correct {
    background: #9aeabc !important;
    border-color: #9aeabc;
}

.incorrect {
    background: #ff9393 !important;
    border-color: #ff9393;
}

.progress-bar{
    width: 800px;
    height: 2.5em;
    background-color: #e1f6c1;
    border: 3px solid rgb(226, 122, 218);
    border-radius: 20px;
    margin: 40px auto;

}


