
.timer-container {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.btn {
    background: #fff;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}


.correct {
    background: #9aeabc !important;
    border-color: #9aeabc;
}

.incorrect {
    background: #ff9393 !important;
    border-color: #ff9393;
}


