.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #f6f0f0;
  border-bottom: 1px solid #ddd;
}
.logo {
  color: rgb(228, 99, 228);     
  font-weight: 600;
  font-size: 1.5rem;
}
.logo:hover {
  color: rgb(200, 80, 200); 
  cursor: pointer;
}
.signup-btn {
  background-color: rgb(228, 99, 228); 
  color: white;                        
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.signup-btn:hover {
  background-color: rgb(200, 80, 200); 

}


.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.btn {
    background: #fff;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}


.correct {
    background: #9aeabc;
    border-color: #9aeabc;
}

.incorrect {
    background: #ff9393;
    border-color: #ff9393;
}


